<% if controller_name == "pages"%>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h2>Yacht Me</h2>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navbar-links">
        <li>
          <%= link_to "Yachts", yachts_path, class: "nav-link" %>
        </li>
        <% if signed_in? %>
          <li>
            <%= link_to "My bookings", my_bookings_path, class: "nav-link site-links" %>
          </li>
          <li>
            <%= link_to 'Add a new yacht', new_yacht_path, class: 'nav-link site-links'%>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path , method: :delete, class: "nav-link site-links" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, class: "nav-link site-links" %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link site-links" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% else %>
    <div class="navbar navbar-expand-sm navbar-light secondary-navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h2>Yacht Me</h2>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navbar-links-sec">
        <li>
          <%= link_to "Yachts", yachts_path, class: "nav-link" %>
        </li>
        <% if signed_in? %>
          <li>
            <%= link_to "My bookings", my_bookings_path, class: "nav-link site-links-sec" %>
          </li>
          <li>
            <%= link_to 'Add a new yacht', new_yacht_path, class: 'nav-link site-links-sec'%>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path , method: :delete, class: "nav-link site-links-sec" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, class: "nav-link site-links-sec" %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link site-links-sec" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
