<%= render 'shared/navbar' %>
<section id='hero'>
  <% if @yacht.photo.present? %>
    <%= cl_image_tag @yacht.photo.key, width: 1920, crop: :fill %>
    <% else %>
      <%= image_tag 'https://images.unsplash.com/photo-1567899378494-47b22a2ae96a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80' %>
    <% end %>
</section>
<div class="container-fluid">
  <div class="row" id='showHeader'>
    <div class='col d-flex flex-row justify-content-between align-items-center mt-5'>
    <div class='d-flex flex-row align-items-baseline'>
      <h1><%= @yacht.name %></h1>
      <h2 class='ml-5'><%= @yacht.rental_price %>€/night</h2>
      <h3>
        <div class='ml-5'>
          <h2 class="fas fa-users"></h2>
          <%= @yacht.guests %>
        </div>
      </h3>
    </div>
      <div>
        <%= link_to "Book this Yacht", new_yacht_booking_path(@yacht), class: "btn btn-primary btn-large btn-lg btn-search" %>
      </div>
    </div>
      <!-- <a href="#" class="btn btn-primary">Book this Yacht</a> -->
  </div>
  <div class="row justify-content-between mt-3" id='showBody'>
    <div class="col-8">
      <p><%= @yacht.description %></p>
    </div>
    <div class="col-4">
    <%= render 'specs' %>
    </div>
  </div>
</div>
<div class="mapWrapper mt-5">
  <div id="map"style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
