<%= render 'shared/navbar' %>
<section id='hero'>
  <%= cl_image_tag @yacht.photo.key, width: 1920, crop: :fill %>
</section>
<div class="container-fluid">
  <div class="row" id='showHeader'>
    <div class='col d-flex flex-row justify-content-between align-items-end mt-5'>
    <div class='d-flex flex-row align-items-end'>
      <h1><%= @yacht.name %></h1>
      <h3 class='ml-3'><%= @yacht.rental_price %>€/night</h3>
    </div>
      <div>
        <%= link_to "Book this Yacht", new_yacht_booking_path(@yacht), class: "btn btn-primary btn-large btn-lg btn-search" %>
      </div>
    </div>
      <!-- <a href="#" class="btn btn-primary">Book this Yacht</a> -->
  </div>
  <div class="row justify-content-between mt-3" id='showBody'>
    <div class="col-8">
      <p><%= @yacht.description %></p>
    </div>
    <div class="col-4">
    <%= render 'specs' %>
    </div>
  </div>
</div>
