<%= render 'shared/navbar' %>
<section class='container-fluid' id='hero'>
  <%= image_tag @yacht.url, style:'width:100vw;margin-bottom:20px;' %>
</section>
<div class="container-fluid">
  <div class="row justify-content-between p-4">
    <div class="col">
      <h2><%= @yacht.name %></h2>
    </div>
      <a href="#" class="btn btn-primary">Book this Yacht</a>
  </div>
  <div class="row justify-content-between p-4">
    <div class="col-8">
      <p><%= @yacht.description %></p>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          Specification
        </div>
        <div class="card-body">
          <ul>
            <li>Type: <%= @yacht.yacht_type %></li>
            <li>Length: <%= @yacht.length %></li>
            <li>Cabins: <%= @yacht.number_of_cabins %></li>
            <li>Guests: <%= @yacht.guests %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
